<div class="admin">

  <h1 class="title">BBD Twitter Wall - Admin</h1>

  <form class="form" [formGroup]="configForm" (ngSubmit)="onSubmit()" novalidate>
    
    <div class="overlay" [class.hidden]="!isBusy" >
      <div class="spinner" ></div>
    </div>

    <fieldset class="fieldset" formGroupName="twitter">
      <legend class="fieldset__legend">Twitter:</legend>

      <div class="form-field">
        <label class="form-field__label" for="consumer_key">Consumer Key</label>
        <input class="form-field__input" id="consumer_key" type="text" formControlName="consumer_key" autocomplete="off">
      </div>
      <div class="form-field">
        <label class="form-field__label" for="consumer_secret">Consumer Secret</label>
        <input class="form-field__input" id="consumer_secret" type="text" formControlName="consumer_secret" autocomplete="off">
      </div>
      <div class="form-field">
        <label class="form-field__label" for="access_token">Access Token</label>
        <input class="form-field__input" id="access_token" type="text" formControlName="access_token" autocomplete="off">
      </div>
      <div class="form-field">
        <label class="form-field__label" for="access_token_secret">Access Token Secret</label>
        <input class="form-field__input" id="access_token_secret" type="text" formControlName="access_token_secret" autocomplete="off">
      </div>
      <div class="form-field">
        <label class="form-field__label" for="timeout_ms">Timeout (ms)</label>
        <input class="form-field__input" id="timeout_ms" type="number" min="0" step="500" formControlName="timeout_ms" autocomplete="off">
      </div>
    </fieldset>

    <fieldset class="fieldset" formGroupName="express">
      <legend class="fieldset__legend">Express:</legend>

      <div class="form-field">
        <label class="form-field__label" for="express_port">Port</label>
        <input class="form-field__input" id="express_port" type="number" min="0" step="1" formControlName="port" autocomplete="off">
      </div>

    </fieldset>

    <fieldset class="fieldset" formGroupName="event">
      <legend class="fieldset__legend">Event:</legend>

      <div class="form-field">
        <label class="form-field__label" for="name">Name</label>
        <input class="form-field__input" id="name" type="text" formControlName="name">
      </div>

      <div class="form-field">
        <label class="form-field__label" for="screen_names">@Screen Names (space delimited) </label>
        <input class="form-field__input" id="screen_names" type="text" formControlName="screen_names" placeholder="@screen_name_7 @screen_name_3  &#8230;"
          pattern="^(\s)*(@[a-zA-Z0-9_]{1,15}\s+)*(@[a-zA-Z0-9_]{1,15}\s*)+$" autocomplete="off">
      </div>

      <div class="form-field">
        <label class="form-field__label" for="hashtags">#Hashtags (space delimited) </label>
        <input class="form-field__input" id="hashtags" type="text" formControlName="hashtags" placeholder="#hastag #hashtag &#8230;" pattern="^(\s)*(#[a-zA-Z][a-zA-Z0-9_]{1,138}\s+)*(#[a-zA-Z]{1}[a-zA-Z0-9_]{1,138}\s*)+$" autocomplete="off">
      </div>

    </fieldset>

    <p class="message" [class.hidden]="!responseMessage || isBusy" [class]="messageType">{{responseMessage}}</p>

    <button type="submit" [disabled]="!configForm.valid" >Apply Settings</button>

  </form>

  <pre class="config-well" >config: {{ parseInput(configForm.value) | json }}</pre>

</div>